<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"
 href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
 integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
 crossorigin="anonymous">
</head>
<body>
		<h1>DOCTOR LIST PAGE</h1>
		
		 <a th:href="@{/patient/doctorsList}">DOCTOR LIST</a>
		
		<!-- 
		 <p>Patient Name: <span th:text="${name}"></span></p>
		 
		 <p>Patient Id: <span th:text="${p_id}"></span></p>
		 
		 <p>Patient Username: <span th:text="${username}"></span></p>
			
		
			 
		 <h1>Create Appointment</h1><br><br>
		 
		 
		  <form th:action="@{/appointments/saveAppointment}" th:object="${appointment}" method="POST" >
        <input type="hidden" id="p_id" name="p_id" th:value="${p_id}" />  
		 

        <label for="name">Appointment Name:</label>
        <input type="text" id="name" name="name" th:field="*{name}" /> 
        
       <label for="doctorId">Doctor ID:</label>
<input type="text" id="doctorId" name="doctorId" />

       
        
<br><br>
        <button type="submit">Create Appointment</button>
    </form>
     -->
    
</body>
</html>